<!DOCTYPE html>
<html>
<head>
    <title>Historial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h1>Historial de compras de {{ usuario }}</h1>
{% if historial %}
    <ul>
    {% for compra in historial %}
        <li>Total: S/. {{ compra.total }}
            <ul>
            {% for item in compra.productos %}
                <li>
                    ID {{ item.producto_id }}
                    | Nombre: {{ item.nombre }}
                    | Precio: S/. {{ item.precio }}
                    | Cantidad: {{ item.cantidad }}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay compras registradas.</p>
{% endif %}
<p><a href="/">Inicio</a></p>
</div>
</body>
</html>
